*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    display: flex;
    align-items: center;
}

img{
    width: 60px;
    margin-right: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 94%;
}
.left,.right{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
.left ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    font-weight: 600;

}

.searchbar{
    background-color: blueviolet;
    width: 550px;
    line-height: 40px;
    border-radius: 4px;
    background: rgba(223, 218, 218, 0.749);
}
.searchbar input{
    background: transparent;
    border: 0;
    outline: none;
    width: 90%;
} 
.searchbar i{
    font-size: 15px;
    color: rgb(92, 90, 90);
    margin-right: 15px;
}
.studio{
    position: relative;
}
.studio span{
    position: absolute;
    color: pink;
    top: -5px;
    left: 45px;
}

.right div{
    margin: 0 20px;
    text-align: center;
}

.right div p{
    font-size: 12px;
    font-weight: 700;
    color: rgb(158, 147, 147);
}
.right{
    margin-right: 30px;
}

